body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 7px 5px hsl(0, 1%, 86%);
    padding: 10px;
}

.uber {
    font-size: 30px;
    float: left;
    margin: 0 10px 0 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.eats {
    margin-bottom: 10px;
    font-size: 30px;
    margin: 0;
    float: left;
    color: green;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.aut-but {
    float: right;
    padding: 10px;
    margin-right: 5px;
}

.aut-but button {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
}

.market-logo {
    float: right;
    padding: 20px;
    margin-right: 50px;
}

.lined-text {
    margin: 80px 50px 80px 50px;
}

.lined-text p {
    color: rgb(179, 177, 177);
}

.lined-text hr {
    border-color: rgb(197, 195, 195, 0.5);
}

.rest-block h2 {
    font-family: sans-serif;
    font-weight: 400;
}

.page-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card {
    margin: 0 20px 50px 0;
}

.card-image {
    width: 100%;
}

.card-description {
    line-height: 10px;
}

.name-of-rest {
    font-size: 20px;
}

.page-footer {
    background-color: #262626;
    border: 1px solid black;
    margin-top: auto;
}

.footer-header {
    margin: 20px 0 20px 0;
    padding-top: 25px;
}

.footer-header .uber {
    color: white;
    font-size: 40px;
}

.footer-header .eats {
    font-size: 40px;
}

footer hr {
    margin: 100px 45px;
    margin-bottom: 60px;
}

.footer-content {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 500px;
    margin-left: 45px;
}

.first-content *{
    color: white;
    margin-bottom: 30px;
}

.first-content details {
    background-color: #3B3B3B;
}

.first-content details summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 0;
}

.cursor-of-details {
    margin: 10px 0 10px 80px;
}

.lang-logo {
    margin: 0 10px 0 0;
}

.second-content a {
    display: block;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.third-content a {
    display: block;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.second-hr {
    margin-top: 0;
}

.second-block-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.appstore-logo {
    height: 60px;
    width: auto;
}

.googleplay-logo {
    height: 60px;
    width: auto;
}

.last-hr {
    margin-top: 50px;
    margin-bottom: 0px;
}

.footer-of-footer {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 350px;
    padding: 40px;
    margin-top: 0;
}

.footer-of-footer p {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}